
$dropdown-padding-y : 0;
$dropdown-padding-x : 0;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/variables.scss";
//
// Base styles
//

.opt {
  @extend .btn;
  --bs-btn-padding-x:0
  };
  
.opt-primary {
  @extend .btn-primary;
}
  
  
  .swal-overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }